server:
  port: 8080

spring:
  application:
    name: event-store-server

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID:event-store-consumer}
      auto-offset-reset: ${KAFKA_AUTO_OFFSET_RESET:earliest}

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_EVENTS_HOST:db-postgres-events}:${DB_EVENTS_PORT:5432}/${DB_EVENTS_NAME:events_db}
    username: ${DB_EVENTS_USER:events_user}
    password: ${DB_EVENTS_PASSWORD:events_password}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URI:http://discovery-server:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  info:
    env:
      enabled: true

topic:
  audit-logs: ${KAFKA_AUDIT_LOGS_TOPIC:audit-logs}
