target/
build/

.gradle/
.mvn/
.mvn/wrapper/maven-wrapper.jar

.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

*.log
logs/
src/test/
README.md

.git/
.gitignore

.env
application-local.yml
application-dev.yml
