server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: api-gateway
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URI:http://discovery-server:8761/eureka/}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: auth-service
        url: /v3/api-docs/auth-service
      - name: enrollment-service
        url: /v3/api-docs/enrollment-service


management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,gateway
  endpoint:
    gateway:
      enabled: true
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

info:
  app:
    name: "API Gateway Service"
    description: "Punto de entrada principal"
    version: "1.0.0"

topic:
  enrollment-events: ${KAFKA_AUDIT_LOGS_TOPIC:audit-logs}

audit:
  enabled: true
  order: -1
  excluded-paths:
    - /actuator
    - /eureka
    - /favicon.ico
    - /swagger-ui
    - /v3/api-docs
    - /auth/validateToken
