server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: authorization-server

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_AUTH_HOST:db-postgres-auth}:${DB_AUTH_PORT:5432}/${DB_AUTH_NAME:auth_db}
    username: ${DB_AUTH_USER:auth_user}
    password: ${DB_AUTH_PASSWORD:auth_password}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - read:user
              - user:email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: GitHub
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Google
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: id
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
            user-name-attribute: sub

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:36000000}
  two-factor-expiration: ${JWT_TWO_FACTOR_EXPIRATION:300000}

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URI:http://discovery-server:8761/eureka/}

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  info:
    env:
      enabled: true
  metrics:
    tags:
        application: authorization-server

twofactor:
  issuer: ${TWO_FACTOR_ISSUER:AuthorizationApp}

frontend:
  base-url: ${FRONTEND_URL:http://localhost:5173}

oauth2:
  public-base-url: ${OAUTH2_PUBLIC_BASE_URL:http://localhost:8080}

logging:
  level:
    org:
      springframework:
        security: debug
